/* Custom Scrollbar for Watchlist */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Ekdum patli scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track ko invisible rakho */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #facc15; /* Tailwind's yellow-400 */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #eab308; /* Thoda dark yellow on hover */
}